<%- model_class = App -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @app.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:type_message) %>:</strong></dt>
  <dd><%= @app.type_message %></dd>
  <dt><strong><%= model_class.human_attribute_name(:type_interphone) %>:</strong></dt>
  <dd><%= @app.type_interphone %></dd>
  <dt><strong><%= model_class.human_attribute_name(:internal_auth) %>:</strong></dt>
  <dd><%= @app.internal_auth %></dd>
  <dt><strong><%= model_class.human_attribute_name(:outer_auth_server) %>:</strong></dt>
  <dd><%= @app.outer_auth_server %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              apps_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_app_path(@app), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              app_path(@app),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
